.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -12.5%;
  flex-direction: column;
  align-items: flex-start;
}
.body {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
