.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 36px;
  flex-direction: column;
  align-items: flex-start;
}
.tailStroke {
  position: absolute;
  left: 87.5%;
  right: -31.25%;
  top: 22.2222%;
  bottom: 49.9999%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.body {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 36px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
