.root {
  position: relative;
  width: 139px;
  height: 139px;
  flex-direction: column;
  align-items: flex-start;
}
.ellipse13 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.image4 {
  position: absolute;
  left: 2.8777%;
  right: 2.1583%;
  top: 2.1583%;
  bottom: 2.8777%;
  background-image:/* webpackIgnore: true */ url('assets/image4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
