.face.face {
  left: 18.75%;
  right: 18.75%;
  top: 25%;
  bottom: 53.125%;
  width: initial;
  height: initial;
}
.root {
  position: absolute;
  left: 0;
  right: 82.2222%;
  top: 0;
  bottom: 82.2222%;
  flex-direction: column;
  align-items: flex-start;
}
