.cat.cat {
  left: 21.4286%;
  right: 21.4286%;
  top: 19.6429%;
  bottom: 23.2143%;
}
.cup.cup {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 56px;
  height: 56px;
  flex-direction: column;
  align-items: flex-start;
}
