.pearl.pearl {
  left: 4.0195%;
  right: 74.056%;
  bottom: 66.2289%;
  width: initial;
  height: initial;
}
.icon {
  width: 100%;
  height: 100%;
}
.body.body.body.body {
  width: 102.8571px;
  height: 115.7143px;
}
.body {
  width: 102.8571px;
  height: 115.7143px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.mouth.mouth.mouth.mouth.mouth {
  bottom: 0%;
}
.vectorStroke.vectorStroke.vectorStroke.vectorStroke.vectorStroke {
  left: 0%;
}
.vectorStroke {
  left: 0%;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.cup.cup.cup {
  right: 0;
}
.group6.group6.group6 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.group6 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.luna.luna {
  left: 4.0195%;
  right: 74.056%;
  top: 54.0338%;
  bottom: 12.1951%;
  width: initial;
  height: initial;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.body2.body2.body2.body2 {
  width: 102.8571px;
  height: 115.7143px;
}
.body2 {
  width: 102.8571px;
  height: 115.7143px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.mouth2.mouth2.mouth2.mouth2.mouth2 {
  bottom: 0%;
}
.vectorStroke2.vectorStroke2.vectorStroke2.vectorStroke2.vectorStroke2 {
  right: 0%;
}
.vectorStroke2 {
  right: 0%;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.group62.group62.group62 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.group62 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.cat.cat {
  left: 21.4286%;
  right: 21.4286%;
  top: 19.6429%;
  bottom: 23.2143%;
}
.body3.body3.body3 {
  width: 102.8571px;
  height: 102.8571px;
}
.body3 {
  width: 102.8571px;
  height: 102.8571px;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.mouth3.mouth3.mouth3.mouth3 {
  bottom: 0%;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.cup2.cup2 {
  left: 0%;
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.group63.group63 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.group63 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.milo.milo {
  left: 39.0987%;
  right: 38.9769%;
  top: 0.5629%;
  bottom: 65.666%;
  width: initial;
  height: initial;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.body4.body4.body4.body4 {
  width: 102.8571px;
  height: 115.7143px;
}
.body4 {
  width: 102.8571px;
  height: 115.7143px;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.mouth4.mouth4.mouth4.mouth4.mouth4 {
  bottom: 0%;
}
.vectorStroke3.vectorStroke3.vectorStroke3.vectorStroke3.vectorStroke3 {
  left: 0%;
}
.vectorStroke3 {
  left: 0%;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.cup3.cup3.cup3 {
  right: 0;
}
.group64.group64.group64 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.group64 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.chestnut.chestnut {
  left: 74.056%;
  right: 4.0195%;
  top: 0.5629%;
  bottom: 65.666%;
  width: initial;
  height: initial;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.body5.body5.body5.body5 {
  width: 102.8571px;
  height: 115.7143px;
}
.body5 {
  width: 102.8571px;
  height: 115.7143px;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.mouth5.mouth5.mouth5.mouth5.mouth5 {
  bottom: 0%;
}
.vectorStroke4.vectorStroke4.vectorStroke4.vectorStroke4.vectorStroke4 {
  left: 0%;
}
.vectorStroke4 {
  left: 0%;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.cup4.cup4.cup4 {
  right: 0;
}
.group65.group65.group65 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.group65 {
  left: 38.5714px;
  top: 90px;
  width: 128.5715px;
  height: 83.5714px;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.locked.locked {
  left: 77.8319%;
  right: 7.6736%;
  top: 65.8537%;
  bottom: 11.8199%;
  width: initial;
  height: initial;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 229px;
  top: 286px;
  width: 821px;
  height: 533px;
  flex-direction: column;
  align-items: flex-start;
}
.tile1 {
  position: absolute;
  left: 0;
  right: 70.1583%;
  top: 0;
  bottom: 54.0338%;
  outline: solid 7px #f0919196;
  outline-offset: -7px;
  outline-style: dashed;
  background-color: #ffeaea8c;
}
.tile2 {
  position: absolute;
  left: 35.0792%;
  right: 35.0792%;
  top: 0;
  bottom: 54.0338%;
  outline: solid 7px #f0919196;
  outline-offset: -7px;
  outline-style: dashed;
  background-color: #ffeaea8c;
}
.tile3 {
  position: absolute;
  left: 70.1583%;
  right: 0;
  top: 0;
  bottom: 54.0338%;
  outline: solid 7px #f0919196;
  outline-offset: -7px;
  outline-style: dashed;
  background-color: #ffeaea8c;
}
.tile4 {
  position: absolute;
  left: 0;
  right: 70.1583%;
  top: 54.0338%;
  bottom: 0;
  outline: solid 7px #f0919196;
  outline-offset: -7px;
  outline-style: dashed;
  background-color: #ffeaea8c;
}
.tile5 {
  position: absolute;
  left: 70.1583%;
  right: 0;
  top: 54.0338%;
  bottom: 0;
  outline: solid 7px #f0919196;
  outline-offset: -7px;
  outline-style: dashed;
  background-color: #ffeaea8c;
}
.tile6 {
  position: absolute;
  left: 35.0792%;
  right: 35.0792%;
  top: 54.0338%;
  bottom: 0;
  outline: solid 7px #f0919196;
  outline-offset: -7px;
  outline-style: dashed;
  background-color: #ffeaea8c;
}
.pearl2 {
  color: #99582a;
  font-size: 40px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 9.0134%;
  right: 79.0499%;
  top: 33.7711%;
  bottom: 55.9099%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.milo2 {
  color: #99582a;
  font-size: 40px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 45.3106%;
  right: 44.8234%;
  top: 33.7711%;
  bottom: 55.9099%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.luna2 {
  color: #99582a;
  font-size: 40px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 9.3788%;
  right: 79.5371%;
  top: 87.8049%;
  bottom: 1.8762%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lola {
  color: #99582a;
  font-size: 40px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 45.4324%;
  right: 44.8234%;
  top: 87.8049%;
  bottom: 1.8762%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lola2 {
  position: absolute;
  left: 39.0987%;
  right: 38.9769%;
  top: 54.0338%;
  bottom: 12.1951%;
  flex-direction: column;
  align-items: flex-start;
}
.chestnut2 {
  color: #99582a;
  font-size: 40px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 75.5177%;
  right: 3.8977%;
  top: 33.7711%;
  bottom: 55.9099%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
